/node_modules/
build
dist
*.egg-info

/src/ToMiddleChinese/dict/dict.big.txt
/src/ToMiddleChinese/dict/HKVariantsRev.txt
/src/ToMiddleChinese/dict/HKVariantsRevPhrases.txt
/src/ToMiddleChinese/dict/*.dict.yaml
chars.tsv
words.tsv
extra_words.tsv
